## for_list_formst

In [1]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [3]:
type(num)

list

In [13]:
for i in num:
    print('%d번'%i,  end =' ')

1번 2번 3번 4번 5번

In [19]:
i=0
if i==0 :
    print('i는 0이다 ')
else:
    print('i는 0이 아니다 ')

i는 0이다

In [27]:
i=10
if i%2==0 :
    print('i는 짝수이다 ')
else:
    print('i는 홀수이다 ')

i는 짝수이다

In [32]:
i =  int(input('숫자입력>>> ')
if i%2==0 :
    print(i,'는 짝수이다 ')
else:
    print(i,'는 홀수이다 ')

SyntaxError: invalid syntax (<ipython-input-32-27614c708082>, line 2)

In [36]:
sub = ['국', '영', '수', '정보']
for i in range(len(sub)):
    print(sub[i], end='  ')

국  영  수  정보

In [37]:
sub = ['국', '영', '수', '정보']
for i, s in enumerate(sub):
    print(sub[i], end='  ')

국  영  수  정보

sub = ['국', '영', '수', '정보']
for i, s in enumerate(sub):
    if sub[i] == '정보' : 
        print(sub[i], '합격')
    else :
        print(sub[i],'해당없음')

In [39]:
juso ='   인천광역시 중구 참외전로 116 창의관'

In [42]:
type(juso)

str

In [46]:
len(juso)

24

In [49]:
juso.strip()

'인천광역시 중구 참외전로 116 창의관'

In [54]:
juso

'   인천광역시 중구 참외전로 116 창의관'

In [55]:
len(add)

NameError: name 'add' is not defined

### [문제1] 30부터 50까지 중에서 홀수만 출력

In [74]:
for i in range(30,51) :
    if i % 2 != 0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제2] 아이디(문자)를 입력받아 동일하면 
- 회원,안녕하세요 회원님
- 아니면 회원가입하세요

In [ ]:
id = input ('아이디 입력')
if id == 'tmddyd' : 
    print ('안녕하세요 회원님')
else : 
    print ('회원가입하세요')

### [문제3] 입력예 )인천정보산업고/ 30105/김장민 입력받아
- 학교 : 인천정보산업고
- 학번 : 30105
- 이름 : 김장민

In [1]:
stu=list(map(str, input('내용입력>>').split('/')))

내용입력>>인천정보산업고/ 30105/김장민

In [2]:
stu

['인천정보산업고', ' 30105', '김장민']

In [33]:
print('학교명:',stu[0])
print('학번:',stu[1])
print('이름:',stu[2])

학교명: 인천정보산업고
학번:  30105
이름: 김장민

### [문제4] 숫자데이터 5개를 입력받아 
- 합계
- 평균

In [24]:
num =list(map(int,input('숫자 5개 입력: ').split()))
print('합계',sum(num))
print('평균:',sum(num)/len(num))

숫자 5개 입력: 1 2 3 4 5
합계 15
평균: 3.0